{{> head}}

{{> navbar}}

   <div class="row">
       <div class="col-8">
           <h1>Estamos en el about</h1>
       </div>
       <div class="col-4">
           <img src="/assets/img/fondo.jpg" alt="" class="img-thumbnail">
       </div>
   </div>
{{> footer}}